<h1>Welcome Beyt el Mouneh</h1>

<!-- % debugger % -->

<p>
  This is the home page for the Beyt el Mouneh Online Store
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

