<h1>About (House of the Pantry)</h1>

  <p>Ever feel like eating those jam preserves your grandma used to make?</p>

  <p>Ever feel like tasting the sweetness of olives in olive oil, or the fresh smell of flower fields in honey?</p>

  <p>Beyt el Mouneh is the place!! In it you'll find everything a regular supermarket has PLUS everything related to "mounet el beyt" the way our ancestors used to do it.</p>

                <img src="/images/beyt_el_mouneh.jpg" style="border: none; height: 142px; width: 198px; text-decoration: none;">

  <p>Verdun, Koraytem Highway, facing “Verdun Gardens”</p>
  <p>Beyrouth - Lebanon</p>
  <p>Phone: +961 1 74 77 24</p>
  <p>Phone: +961 1 74 77 25</p>
  <p><a title="mailto:shop@beytelmouneh.com" href="mailto:shop@beytelmouneh.com">shop@beytelmouneh.com</a></p>


