.depot_form
  %fieldset
    %legend About Beyt el Mouneh - or in English - The Pantry House
    %p Ever feel like eating those jam preserves your grandma used to make?
    %p Ever feel like tasting the sweetness of olives in olive oil, or the fresh smell of flower fields in honey?
    %p Beyt el Mouneh is the place!! In it you'll find everything a regular supermarket has PLUS everything related to "mounet el beyt" the way our ancestors used to do it.
    %img{:src => "/images/beyt_el_mouneh.jpg", :style => "border: none; height: 142px; width: 198px; text-decoration: none;"}
      %p We are open almost 24 hours a day
      %p We offer free delivery
      %p Verdun, Koraytem Highway, facing Verdun Gardens
      %p Beyrouth - Lebanon
      %p Phone: +961 1 74 77 24
      %p Phone: +961 1 74 77 25
      %p
        %a{:href => "mailto:shop@beytelmouneh.com", :title => "mailto:shop@beytelmouneh.com"} shop@beytelmouneh.com