.depot_form
  %fieldset
    %legend Contact
    %p We are open 24 hours a day
    %p We offer free delivery
    %p Verdun, Koraytem Highway, facing Verdun Gardens
    %p Beyrouth - Lebanon
    %p Phone: +961 1 74 77 24
    %p Phone: +961 1 74 77 25
    %p
      %a{:href => "mailto:shop@beytelmouneh.com", :title => "mailto:shop@beytelmouneh.com"} shop@beytelmouneh.com