<h1>Contact</h1>

  <p>Verdun, Koraytem Highway, facing “Verdun Gardens”</p>
  <p>Beyrouth - Lebanon</p>
  <p>Phone: +961 1 74 77 24</p>
  <p>Phone: +961 1 74 77 25</p>
  <p><a title="mailto:shop@beytelmouneh.com" href="mailto:shop@beytelmouneh.com">shop@beytelmouneh.com</a></p>

