<% unless cart.line_items.empty? %>
<div class="cart_title">Your Cart</div>
<table>
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price, :locale => :lb) %></td>

  </tr>

</table>

<%= button_to "Checkout", :action => 'new_in_store', :controller => :orders, :method => :get %>
<%= button_to 'Empty cart', cart, :method => :delete,
    :confirm => "Press 'Ok' to delete all items from this cart, 'Cancel' to keep them" %>
<% end %>
