-if ordered_item == @current_item
  %tr{:id => "current_ordered_item"}
    =render(:partial => 'line_items/ordered_item_data', :locals => {:ordered_item => ordered_item})
-else
  %tr
    =render(:partial => 'line_items/ordered_item_data', :locals => {:ordered_item => ordered_item})
