%table
  %tr
    %th{:style => 'padding: 5px'}
      Quantity
      %span{:style => 'margin-left: 15px'} Update
    %th{:style => 'padding: 5px'} Item
    %th{:style => 'padding: 5px'}
      Unit
      %br
      Price
    %th{:style => 'padding: 5px'} Picture
    %th{:style => 'padding: 5px'} Price
    %th{:style => 'padding: 5px'} Delete
  = render(:partial => 'line_items/ordered_item', :collection => @cart.line_items)
  %tr{:class => "total_line"}
    %td{:colspan => "4", :style => 'padding: 5px'}Total
    %td{:class => "total_cell", :style => 'padding: 5px'}= number_to_currency(@cart.total_price, :locale => :lb)

